* {
  margin: 0;
  padding: 0;
}

header .header-content {
  position: relative;
  width: 100%;
  padding: 100px 15px;
  text-align: center;
  background-image: url("img/iceland.jpg");
  background-size: 125%;
  background-position: center;
}

html, body {
  height: 100%;
  /*background-image:url("img/texture.png");*/
  color: #333;
  overflow: auto;
}

.container, .content {
  padding: 15px 0;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.footer {
  padding: 15px 0;
  position: relative;
  height: 3em;
  background: #ccc;
  text-align: center;
}